.text {
    font-family: 'Jersey 15', 'SerenityOS Emoji';
    color: #fab387;
    text-shadow: 
        -1px -1px 0 #313244,
        1px -1px 0 #313244,
        -1px 1px 0 #313244,
        1px 1px 0 #313244;
}

.emoji {
    /* Insert cool emoji font family, probably */
    /* Life update: GTK wont let me use emoji fonts :( */
    font-family: 'Jersey 15';
}

.island {
    background-color: #3132447d;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: #89b4fa;
}

.current_weather_title {
    font-size: 100px;
}

.current_weather_text {
    font-size: 25px;
}


.clock {
    font-size: 150px;
    line-height: 0.7;
    font-feature-settings: "tnum" 1;

    opacity: 1;
    transition: opacity 100ms ease-in-out;
}

.clock.fade-out {
    opacity: 0;
}

/* Debug classes only */
.meow {
    background-color: red;
}

.moew {
    background-color: aqua;
}

/* === WINDOW === */
#main_window {
    background-color: transparent;
}

#date {
    font-size: 60px;
    line-height: 0.8;
}

/* Bottom section */
#current_weather_temp {
    font-size: 100px;
    line-height: 0.8;
}

#current_weather_string {
    font-size: 30px;
    line-height: 0.9;
}